---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
</style>
<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-lg-11 col-md-12">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted on {{ page.date | date: "%Y-%m-%d" }} by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</span>
					<div class="Tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="/1-tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-lg-8 col-md-8 post-container">

                {{ content }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
				
				<div class="comment">
					{% include comments.html %}
				</div>
            </div>

            <div class="col-lg-3 col-md-3">
                {% include post_nav.html %}
            </div>
            <!-- <div id="article" class="col-lg-2 col-md-2"></div> -->
        </div>        
    </div>
</article>   

<div id="back-top" class="col-lg-offset-10 col-md-offset-10">
  <a href="#top" title="回到顶部"></a>
</div>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: relative;
            /*left: -0.75em;*/
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>

<!-- use Highlight.js to high light code, default use -->
<link rel="stylesheet" href="{{ "/css/highlight.min.css" | prepend: site.baseurl }}"> 
<script src="{{ "/js/highlight.min.js " | prepend: site.baseurl}}"></script> 
<script>
    hljs.initHighlightingOnLoad();
</script>

